:root {
  --primary-color: #ff9854;
  --line-color: #faf8f9;
  --theme-linear-gradient: linear-gradient(90deg, #fa8c1d, #fcaf3f);

  --van-primary-color: var(--primary-color);
  --van-search-left-icon-color: var(--primary-color) !important;
}

body {
  font-size: 14px;
  color: #333;
}
.border-bottom {
  border-bottom: 1px solid #f8f9f9;
}
.bottom-shadow {
  box-shadow: 0 5px 5px 0 rgba(0,0,0,.06);
}

