html {
  /* normalize.css中会自动设置line-height为1.15 */
  line-height: 1.2; 
}

body, h1, h2, h3, h4, ul, li {
  padding: 0;
  margin: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  vertical-align: top;
}
